env/
logs/
model/
__pycache__/
.pytest_cache/
DOCUMENTATION.md
*.egg-info/
out/
.vscode/
slurm*.out
.DS_Store
*.pt
*.npy
*.npz
.ipynb_checkpoints
lightning_logs/
*bak

# Feature files og resultater (store binære filer)
extracted_features/
results/attention_weights/
*.nii
